 <div class="container">
   <h2>Follower Users</h2>

    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @user.followers.each do |followers| %>
          <tr>
            <td>
            <%= attachment_image_tag followers, :profile_image, size: "40x40", format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
            </td>
            <td><%=followers.name %></td>
            <td>フォロー数：<%= followers.followings.count %></td>
            <td>フォロワー数：<%= followers.followers.count %></td>
            <td><%= render 'relationships/follow_button', user: followers %></td>
            <td><%=link_to"Show", user_path(followers.id),class:"followers_show" %></td>
          </tr>
        <% end %>
      </tbody>
    </table> 
  </div>  