  <div class="container">
    <% if @user.followers.count > 0 %>
      <h2>Follow Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @user.followings.each do |follows| %>
            <tr>
              <td>
              <%= attachment_image_tag follows, :profile_image, size: "40x40", format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
              </td>
              <td><%=follows.name %></td>
              <td>フォロー数：<%= follows.followings.count %></td>
              <td>フォロワー数：<%= follows.followers.count %></td>
              <td><%= render 'relationships/follow_button', user: follows %></td>
              <td><%=link_to"Show", user_path(follows.id),class:"follows_show" %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
      <% else %>
        <h2>No Follow User</h2> 
      <% end %>
  </div>  
