<div class="container main-container">
  <p id="notice"></p>

  <div class="row">
    <!-- 左側 上 -->
    <div class="col-xs-3">
      <h2>User info</h2>
        <%= render 'info', user: @user,now: ''%>
      <!-- 左側 下 -->
      <h2>New book</h2>
      <%= render 'books/create_book_form', book: @book %>
    </div>
  
    <!-- 右側 -->
    <div class="col-xs-9 container">
      <%= render 'books/books', books: @books %>
    </div>
  </div>    
  
  <!-- 下（MAP) -->
  <% if @user == current_user %>
    <div class="row map-field">
      <div class="col-xs-12">
          <h2>Your Map</h2>
          <p class="adress">住所： 〒<%= @user.postal_code %>&emsp;<% @user.prefecture_code %>&ensp;<%= @user.city %>&ensp;<%= @user.street%></p>
          <p><% @user.address %></p>
          <%# Google マップ %>
          <div id='map' class="<%= @user.prefecture_code.to_s + @user.city + @user.street %>">
      </div>
    </div>
  <% end %>
</div>

<%# Google マップ(JS)  %>
<script sec="javascripts/address_map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
<%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7wALtCD2-jLMnFfdOUaxxfvOtA_wKqs8&callback=initMap" async defer></script> %>

 


        
            
          
