<header>
 <style>
    /* 本ページ */
  .book_title,.book_body{
    margin-bottom: 10px;
  }
  </style>
</head>

<body>
    <div class="container main-container">
      <p id="notice"></p>

      <div class="row">
        <!-- 左側 上 -->
        <div class="col-xs-3">
          <h2>User info</h2>
          <%= attachment_image_tag @user, :profile_image, size: "100x100",format: 'jpeg', class: "profile-img", fallback: "no_image.jpg" %>

          <table class="table">
            <tbody>
              <tr></tr> 
              <tr>
                <th>name</th>
                <th><%= @user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= @user.introduction %></th>
              </tr>
              <%# フォロー機能 %>
              <tr>
                <th>follows</th>
                <th><%= link_to "/users/#{@user.id}/follows",class:"books_show" do %><%= @user.followings.count %><% end %></th>
              </tr>
              <tr>
                <th>followers</th>
                <th><%= link_to "/users/#{@user.id}/followers",class:"books_show" do %><%= @user.followers.count %><% end %></th>
              </tr>
            </tbody>
          </table>
          <%# フォローボタン %>
          <div class="row">
             <%= render 'relationships/follow_button', user: @user %>
          </div>  
          <%# ユーザー編集ボタン %>
          <div class="row">
            <% if @user.id == current_user.id %>
              <%= link_to "",edit_user_path(@user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
            <% else %>     
               <%= link_to "",user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
            <% end %>
          </div>  



          <!-- 左側 下 -->
          <h2>New book</h2>
          <%= form_for(@book) do |f| %>
            <div class="field row">
              <%= f.label :title %><br />
              <%= f.text_field :title, autofocus: true, class:"col-xs-12 book_title",id:"book_title" %>
            </div>

            <div class="field row">
              <%= f.label :body,"Opinion" %><br />
              <%= f.text_area :body, autofocus: true,class:"col-xs-12 book_body",id:"book_body" %>
           </div>       

            <div class="actions row">
              <%= f.submit "Create Book",class:"btn btn-primary col-xs-12" ,data: { disable_with: "Sign up" } %>
            </div>
          <% end %>
        </div>
      
        <!-- 右側 -->
        <%= render 'layouts/books', books: @books %>

      </div>    
    </div>
</body>


        
            
          
