<header>
 <style>
  .book_title,.book_body{
    margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <%= form_for(book) do |f| %>
      <div class="field row ">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, class:"col-xs-12 book_title",id:"book_title" %>
      </div>

      <div class="field row">
        <%= f.label :body,"Opinion" %><br />
        <%= f.text_area :body, autofocus: true,class:"col-xs-12 book_body",id:"book_body" %>
      </div>       

      <div class="actions row">
        <%= f.submit "Create Book",class:"btn btn-primary col-xs-12" ,data: { disable_with: "Sign up" } %>
      </div>
  <% end %>
  </body>
