<head>
  <style>
  /* 本ページ */
  .book_title,.book_body{
  margin-bottom: 10px;
  }
  .books_show:visited,.user_name:visited{
  color:#666;
  }
  .books_show:hover,.user_name:hover{
  color: #337ab7;
  background-color:#000;
  }
  .btn-danger{
  color:#666;
  }
  /* いいね・コメント機能 */
  .comment{
    list-style:none;
     display:flex;
  }
  .glyphicon-heart,.glyphicon-heart-empty{
    color:#666;
  }
  .commnet-destroy-btn{
    background-color: pink;
    border-color: pink;
    font-size: 10px;
    padding: 4px 8px;
  }
  /* フォロー機能 */
  .follow-btn{
    width:100%;
  }
  </style>
</head>

<body>
    <div class="container main-container">
      <p id="notice"></p>

      <div class="row">
        <!-- 左側 上-->
        <div class="col-xs-3">
          <h2>User info</h2>
          <%= render 'users/info', user: @book.user %>
        <!-- 左側 下-->
          <h2>New book</h2>
          <%= form_for(@create_book) do |f| %>
           <div class="field row">
              <%= f.label :title %><br />
              <%= f.text_field :title, autofocus: true, class:"col-xs-12 book_title",id:"book_title" %>
            </div>

            <div class="field row">
              <%= f.label :body,"Opinion" %><br />
              <%= f.text_area :body, autofocus: true,class:"col-xs-12 book_body",id:"book_body" %>
           </div>       

            <div class="actions row">
              <%= f.submit "Create Book",class:"btn btn-primary col-xs-12" ,data: { disable_with: "Sign up" } %>
            </div>
          <% end %>
        </div>

     <%# 右側 %>
        <div class="col-xs-9 container">
          <h2>Book detail</h2>
          <table class="table">
            <thead>
              <tr> 
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>
                    <%=link_to user_path(@book.user.id) do %>
                      <%= attachment_image_tag @book.user, :profile_image, size: "100x100", format: 'jpeg', class: " profile-img", fallback: "no_image.jpg", size:'50x50' %>
                    <% end %>
                  </div>
                  <div>
                    <%=link_to @book.user.name, user_path(@book.user.id), class: "text-muted" %>
                  </div> 
                </td>
                <td> <%= link_to book_path(@book.id),class:"books_show" do %><%= @book.title %><% end %></td>
                <td><%= @book.body %></td>

                <% if @book.user == current_user %>
                  <td>
                    <%= link_to "Edit",edit_book_path(@book.id),class:"btn-sm btn-success" %>
                  </td>
                  <td>
                    <%= link_to "Destroy", book_path(@book.id), method: :delete, class:"btn-sm btn-danger",data:{confirm:"本当に消しますか？"} %>
                  </td>
                <% end %>
                <%# いいね %>
                <td class="book_<%= @book.id %>">
                  <%= render 'books/book', book: @book %>
                </td>
              </tr>
            </tbody>
          </table>

          <%# コメント一覧 %>
          <ul class="comments_area row">
            <%= render partial:'book_comments/index', locals: { book: @book }  %>
          </ul>
          
          <%# コメント入力 %>
          <%= render partial: 'book_comments/form', locals: { book: @book, book_comment: @book_comment } %>
        </div>
      </div> 
    </div>
</body>

